.main-container{

    padding: 0px 80px;   
}
.top-holder{
    display: flex;
    justify-content: space-between;
}

.logo-container{
    max-height: 100px;
    max-width: 100px;
    display: flex;
}
.tee span{
    background-color: orangered;
    color: white;
    border-radius: 50%;
   
   
    
}
.membership span{
    border-radius: 20px;
    background-color: #DDD;
    padding: 5px;
    cursor: pointer; 
     
}
.header-right{
  display: flex;
justify-content: space-between ;
gap: 16px;
}